<!-- about text card -->
<div class="d-flex flex-column flex-md-row px-5 py-5">
  <h1 class="mt-5 w-md-40 display-5">À propos</h1>
  <p class="my-5 w-md-60 fw-light fs-5">
    Nous n'envisageons pas l'architecture comme une pratique unique, mais comme plusieurs pratiques interdépendantes.
    Les paysages sont inséparables des structures, l'écologie est inséparable des contraintes de construction, et
    l'amélioration des relations humaines est le but ultime de tout projet. Les mouvements esthétiques vont et
    viennent, alors que ces principes sont à notre avis intemporels.<br><br>

    En tant que partenaires, notre mot d'ordre est l'honnêteté et la clarté. Notre premier travail consiste à
    comprendre la vision et les besoins du client, et non de présenter les nôtres. Nous mettons un point d'honneur à
    respecter les délais, à communiquer de façon directe avec nos clients et nous préférons montrer des prototypes
    plutôt que de nous perdre dans d'interminables présentations. Nous sommes toujours heureux d'organiser des
    rencontres en tête-à-tête autour d'un verre ou d'un repas.<br><br>

    Au fil des ans, nous avons eu la chance de collaborer avec de formidables clients sur de merveilleux projets, mais
    nous croyons qu'il est encore trop tôt pour présumer de la réussite globale de notre travail. Un bâtiment existe
    dans le temps et son utilité est directement liée à la pérennité de sa fonction.<br><br>

    Nés au Danemark, nous sommes fiers de notre pays d'origine et de notre héritage, mais nous ne nous considérons pas
    comme des représentants du design danois. Le style national n'a pas sa place dans l'architecture, où un bâtiment
    doit avant tout être adapté aux besoins locaux.
  </p>
</div>

<style>

</style>