<!-- contact form -->
<div class="row row-cols-1 row-cols-md-2 px-5 py-5 my-5">
  <div class="col">
    <h1 class="fw-light">Travaillons ensemble</h1>
    <p class=" my-5 fw-light">
      D'autres études de cas sont disponibles sur demande. Veuillez fournir quelques informations sur votre projet ou
      vos objectifs, et nous poursuivrons la conversation à partir de là.
    </p>
    <hr class="w-md-50">
    <address class="my-5 fw-light">
      123 rue démo<br>
      Copenhague, Danemark<br><br>
      (555) 555-5555<br>
      e-mail@exemple.com
    </address>
    <i class="bi bi-instagram fs-5 me-2"></i>
    <i class="bi bi-twitter fs-5"></i>
  </div>
  <div class="col border">

  </div>
</div>

<style>

</style>