<!-- press text card -->
<div class="d-flex flex-column flex-md-row px-5 py-5">
  <h1 class="mt-5 w-md-40 display-5">Presse</h1>
  <div class="w-md-60">
    <figure class="my-5 fw-light">
      <blockquote class="blockquote pb-5">
        <p class="fs-3">
          « Ses bâtiments créent souvent des attentes pour les renverser ensuite, aboutissant par là même un sentiment
          d'apesanteur et d'émerveillement. »
        </p>
      </blockquote>
      <figcaption class="blockquote-footer fs-6">
        Source médiatique
      </figcaption>
    </figure>
    <figure class="my-5 fw-light">
      <blockquote class="blockquote pb-5">
        <p class="fs-3">
          « Utica s'est positionnée à l'avant-garde d'une nouvelle catégorie de studios d'architecture qui pratiquent
          le "placemaking", une sorte de philosophie de conception totale qui englobe les bâtiments, les paysages,
          l'écologie et les interactions sociales. »
        </p>
      </blockquote>
      <figcaption class="blockquote-footer fs-6">
        Source médiatique
      </figcaption>
    </figure>
    <figure class="my-5 fw-light">
      <blockquote class="blockquote pb-5">
        <p class="fs-3">
          « Étonnamment, trois de mes projets préférés de l'année dernière venaient du même petit studio : Utica.
          Associant recherche approfondie et esprit spontané, leur pratique a injecté de nouvelles idées dans un
          paysage architectural qui en a désespérément besoin. »
        </p>
      </blockquote>
      <figcaption class="blockquote-footer fs-6">
        Source médiatique
      </figcaption>
    </figure>
  </div>
</div>

<style>
  
</style>