<!-- team gallery -->
<div class="row row-cols-1 row-cols-md-2 w-md-75 mx-auto pt-5 mt-5">
  <div class="col">
    <img class="img-fluid" src="https://via.placeholder.com/1500x1875" alt="1500x1875 image placeholder">
    <h3 class="my-4 fw-light">Prénom Nom</h3>
    <p class="pb-5 mb-5 fw-light">
      Tout commence par une idée. Peut-être voulez-vous créer une entreprise. Peut-être voulez-vous donner une
      nouvelle dimension à un passe-temps. Ou peut-être avez-vous un projet créatif que vous souhaitez partager avec
      le monde. Quel que soit votre cas, la façon dont vous racontez votre histoire en ligne peut faire toute la
      différence.
    </p>
  </div>
  <div class="col">
    <img class="img-fluid" src="https://via.placeholder.com/1500x1875" alt="1500x1875 image placeholder">
    <h3 class="my-4 fw-light">Prénom Nom</h3>
    <p class="pb-5 mb-5 fw-light">
      Tout commence par une idée. Peut-être voulez-vous créer une entreprise. Peut-être voulez-vous donner une
      nouvelle dimension à un passe-temps. Ou peut-être avez-vous un projet créatif que vous souhaitez partager avec
      le monde. Quel que soit votre cas, la façon dont vous racontez votre histoire en ligne peut faire toute la
      différence.
    </p>
  </div>
</div>

<style>

</style>