<!-- title text button card -->
<div class="py-5 bg-dark">
  <div class="w-md-50 ms-lg-5 px-lg-0 px-5 py-5 text-light">
    <h1 class="display-5 mb-4">Travaillons ensemble</h1>
    <p class="mb-4 fw-light fs-5">
      Nous sommes toujours à la recherche de nouvelles opportunités et nous travaillons volontiers à l'international.
      N'hésitez pas à prendre contact avec nous. L'un de nos chefs de projet reviendra vers vous pour commencer le
      processus de proposition.
    </p>
    <a class="btn btn-light btn-lg px-5 py-4 rounded-0" href="#">Nous contacter</a>
  </div>
</div>

<script>
  
</script>