<!-- title text card -->
<div class="w-lg-50 ms-lg-5 py-5">
  <h1 class="display-5 mb-4">Travaux récents</h1>
  <p class="fw-light fs-5">
    Notre activité va de la rénovation environnementale de bâtiments existants à la planification et au design complet
    de nouveaux quartiers et de nouveaux espaces publics. Bien que notre travail présente une grande diversité
    esthétique, nos projets sont liés par une même volonté d’améliorer les relations humaines à travers
    l’architecture.
  </p>
</div>

<style>
  /*  title text card
  **************************/
  @media(min-width: 992px) {
    .w-lg-50 {
      width: 50%;
    }
  }
</style>